* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #C8C8C8;
}

header {
	position: relative;
	background-color: #282828;
	height: 60px;
}

header h1 {
	display: inline-block;
	float: left;
	margin: 11px 0px 11px 40px;
}

header nav {
	display: inline-block;
	float: right;
}

header ul {
	margin-right: 10px;
}

header ul li {
	list-style-type: disc;
	float: right;
	width: 70px;
	margin-top: 20px;
	margin-left: 10px;
}

header ul li a {
	text-decoration: none;
	font-size: 8px;
	font-weight: bolder;
	color: #fff;
}

header ul li:first-child a {
	color: #C8C8C8;
}

article {
	background-color: #fff;
	margin: 20px 20px;
	border: 1px solid none;
	padding: 30px 20px;
	border-top-left-radius: 0px;
	box-shadow: 2px 2px 1px 1px #707070;
}

article h2 {
	margin: 10px 0;
}

article h3 {
	margin: 8px 0;
	color: #707070;
}

article span {
	margin: 2px 0;
	font-size: 1px;
	font-weight: bold;
	color: #707070
}

article p {
	line-height: 1.8em;
	text-indent: 2em;
}

article li.common {
	list-style: none;
}

article li.sort {
	list-style: decimal;
}

article table {
	width: 100%;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #A8A8A8;
}

article table thead {
	background-color: #282828;
	color: #FFFFFF;
}

article table th, td {
	border: 1px solid #A8A8A8;
	padding: 4px 4px;
}

article table tfoot {
	background-color: #A8A8A8;
}

aside {
	background-color: #fff;
	margin: 20px 40px 20px 20px;
<<<<<<< HEAD
	border: 1px solid none;
=======
  border: 1px solid none;
>>>>>>> refs/remotes/origin/master
	box-shadow: 2px 2px 2px black;
	padding: 30px 20px;
}

.imgGallery {
	width: 250px;
	border: 1px solid #909090;
	margin: 10px 10px;
	text-align: center;
}

.aside-title {
	border-left: 5px solid #909090;
	padding: 8px;
	letter-spacing: 1px;
}

.left {
	display: inline-block;
	width: 40%;
	text-align: right;
	vertical-align: top;
}

.right {
	margin-left: 10px;
}

.text {
	margin-left: 10px;
	width: 50%;
	text-align: left;
}

.form-item {
	width: 100%;
	margin: 15px 0px;
}

.warning {
	width: 100%;
	margin: 15px 41.5%;
<<<<<<< HEAD
	color: #aaa;
	font-size: 14px;
=======
  color: #aaa;
  font-size: 14px;
>>>>>>> refs/remotes/origin/master
}

.submit {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #3366CC;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
}